<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Members</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Club Aftas - Members</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-rounded"  (click)="open()" >Add Member</button>
          <p class="card-title-desc pt-3">
            All Members available 
          </p>
          <div class="justify-content-between d-flex ">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                class="d-inline-flex align-items-center">Show
                <select aria-controls="tickets-table" name="pageSize"
                        [(ngModel)]="pagination.pageSize" class="form-control form-control-sm mx-2">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select> entries</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6  ">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end p-2 justify-content-md-between"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchTerm" class="form-control form-control-sm ms-2 pr-5"
                       aria-controls="tickets-table" [(ngModel)]="query"></label>
                       <button type="button" (click)="Search()" class="btn btn-dark  ">
                        <i class="bx bx-loader bx-spin font-size-12 align-middle "></i> Loading
                    </button> 
              </div>   
            </div>
          </div>
         
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>family Name</th>
                  <th>accessionDate</th>
                  <th>nationality</th>
                  <th>identity Document Type</th>
                  <th>identity Number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of members , let i = index" >
                  <td>{{i}}</td>
                  <td>{{member.name}}</td>
                  <td>{{member.familyName }}</td>
                  <td>{{member.accessionDate }}</td>
                  <td>{{member.nationality}}</td>
                  <td>{{member.identityDocumentType}}</td>
                  <td>{{member.identityNumber}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{1}} to
                  {{ pagination.totalElements }} of {{pagination?.totalElements}}
                  entries
                </div>
              </div>
              <nav aria-label="Page navigation example  " >
                <ul class="pagination justify-content-end">
                  <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
                  <li class="page-item" *ngFor="let pageNumber of generatePageNumbers()">
                    <button class="page-link" (click)="loadDataByPage(pageNumber-1)">{{ pageNumber }}</button>
                  </li>
                  <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>